TiendaTecnologica_MadroñalSanchezCarlos/XSDFruteria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Fruteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element ref="frutas"/>
        <xs:element ref="verduras"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="frutas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fruta" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="fruta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="precio" type="xs:decimal"/>
        <xs:element name="temporada" type="xs:string"/>
        <xs:element name="oferta" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="verduras">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="verdura" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="verdura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="precio" type="xs:decimal"/>
        <xs:element name="tipo" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>